/* Overall */
body{ 
    background-color: #F9EAD5;
}

/* Navigation pull out */
.navigation{
    position: fixed;
    background-color: #EE5C52;
    height: 100%;
    width: 35vw;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-title{
    font-family: 'Anton';
    font-size: 5vw;
    margin-top: 0vw;
    margin-left: 1vw;
    color: #F9EAD5;
    margin-bottom: 0;
}
.navbar-title-div{
    width: 31vw;
    border-top: 3px #F9EAD5;
    margin-left: 1vw;
    margin-top: 0vw;
}
.close-icon{
    margin-left: 6.8vw;
    height: 3.8vw;
    width: 3.36vw;
    background: transparent;
    background-image: url('../images/CloseIcon.svg');
    border: none;
}
.navbar-link{
    font-family: 'Inter';
    color: #F9EAD5;
    margin-left: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2vw;
    font-style: bold;
    text-decoration: none;
}
.link-div{
    border-top: 1px #F9EAD5;
    margin-left: 2vw;
    width: 26vw;
}
.navigation {
    display: none;
}

/* Content Divider */
.content-div{
    margin-top: 3vw;
    border-style: solid;
    border-width: .07vw;
    border-color: #120DFF;
    width: 90vw;
}

/* Page Header */
.soldier-img {
    display: flex;
    height: 60vw;
    width: 80vw;
    margin-top: 1vw;
    margin-left: -1vw;
}
.header-title{
    position: absolute;
    margin-left: 60vw;
    margin-top: 36.5vw;
}
.header-text{
    display: flex;
    font-family: 'Anton';
    margin: 0;
    font-size: 9vw;
    color: #EE5C52;
}
.header-container{
    display: flex;
}

/* Meat */
.soldiers {
    width: 99vw;
}
.background-pattern {
    margin-top: 3vw;
    width: 99vw;
}
.meat-title {
    position: absolute;
    top: 92vw;
    margin-left: 27vw;
    height: 20vw;
}

/* Textboxes */
.boxes {
    position: absolute;
    top: 110vw;
    display: flex;
    flex-direction: column;
}
.textbox-top,
.textbox-bottom {
    display: flex;
}
.textbox {
    width: 30vw; 
    height: 30vw;
    margin: 1vw;
    margin-left: 1.5vw;
}

/* Footer */
.last-div {
    margin-top: 3vw;
    border-style: solid;
    border-width: .07vw;
    border-color: #EE5C52;
    width: 90vw;
}
.gun {
    margin-left: 8vw;
    width: 80vw;
    margin-top: 8vw;
}

/* Text */
.textbox-text   {
    font-family: 'Abhaya Libre';
    color: #120DFF;
    font-size: 1.2vw;
    font-size: 1.9vw;
}
.textbox-one {
    position: absolute;
    top: 121vw;
    left: 4.8vw;
}
.textbox-two {
    position: absolute;
    top: 121vw;
    left: 37vw;
}
.textbox-three {
    position: absolute;
    top: 121vw;
    left: 69.5vw;
}
.textbox-four {
    position: absolute;
    top: 152vw;
    left: 4.8vw;
}
.textbox-five {
    position: absolute;
    top: 152vw;
    left: 37vw;
}
.textbox-six {
    position: absolute;
    top: 152vw;
    left: 69.5vw;
}
.textbox-inside {
    width: 25vw;
}